<html>
    <head>
        <title>
            Twitter - {{ template_values.email }} Profile
        </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <div class="row">
                    <div class="col-md-1 active">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <a> Timeline </a>
                    </div>
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-off"></span>
                        <a href="/login/bye/"> Logout </a>
                    </div>
                </div>
            </div>

            <div class="row well well-lg">
                <div class="col-md-2">
                    <img src="/profile/static/img/blank_profile_pic.jpg" style="min-height: 20px; max-height: 25%; min-width: 20px; max-width: 30%; border-radius: 50%" />
                </div>
                <div class="col-md-1">
                    <button onclick="toggle_follow('{{ template_values.follow }}')" id="follow_btn">
                        {{ template_values.follow }}
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="active" onclick="get_tweets()" id="tweets_btn">
                        <label> Tweets</label> <br/>
                        {{ template_values.n_tweets }}
                    </button>
                </div>
                <div class="col-md-3">
                    <button onclick="get_followers()" id="followers_btn">
                        <label id="follower_btn_label"> Followers</label> <br/>
                        {{ template_values.n_followers }}
                    </button>
                </div>
                <div class="col-md-3">
                    <button onclick="get_following()" id="followers_btn">
                        <label> Following</label> <br/>
                        {{ template_values.n_following }}
                    </button>
                </div>
            </div>

            {% set tweet_list = template_values.tweet_list %}
            {% for tweet in tweet_list  %}
            <div class="row" id="tweets_box">
                <div class="col-md-2 tweet_row"></div>
                <div class="col-md-5 well well-sm tweet_row"> {{ tweet.post }} <br/> {{ tweet.dt }} </div>
            </div>
            {% endfor %}

            {% for fr in template_values.followers %}
            <div class="row" id="followers_box">
                <div class="col-md-2 follower_row"></div>
                <div class="col-md-4 well well-sm follower_row"> {{ fr }} </div>
            </div>
            {% endfor %}

            {% for fing in template_values.following %}
            <div class="row" id="following_box">
                <div class="col-md-2 following_row"></div>
                <div class="col-md-3 well well-sm following_row"> {{ fing }} </div>
            </div>
            {% endfor %}

        </div>

        <style type="text/css">
            .active{
                border-style: inset;
            }
        </style>

        <script type="text/javascript">
            var email = "{{ template_values.email }}";

            function get_tweets(){
                var follower_box = $("#followers_box");
                var following_box = $("#following_box");
                var tweet_box = $("#tweets_box");

                follower_box.removeClass("hidden");
                follower_box.addClass("hidden");
                following_box.removeClass("hidden");
                following_box.addClass("hidden");
                tweet_box.hide();

                $("#followers_btn").removeClass("active");
                $("#following_btn").removeClass("active");
                $("#tweets_btn").addClass("active");
            }

            function get_followers(){
                var follower_box = $("#followers_box");
                var following_box = $("#following_box");
                var tweet_box = $("#tweets_box");

                tweet_box.hide();
                tweet_box.show();
                following_box.removeClass("hidden");
                following_box.addClass("hidden");
                follower_box.removeClass("hidden");

                $("#tweets_btn").removeClass("active");
                $("#following_btn").removeClass("active");
                $("#followers_btn").addClass("active");
            }

            function get_following(){
                var follower_box = $("#followers_box");
                var following_box = $("#following_box");
                var tweet_box = $("#tweets_box");

                follower_box.removeClass("hidden");
                follower_box.addClass("hidden");
                tweet_box.removeClass("hidden");
                tweet_box.addClass("hidden");
                following_box.removeClass("hidden");

                $("#followers_btn").removeClass("active");
                $("#tweets_btn").removeClass("active");
                $("#following_btn").addClass("active");
            }

            function toggle_follow(follow){

                $.ajax({
                    url: '/profile/toggle_follow/' ,
                    type: 'POST',
                    data: JSON.stringify({follow: follow, email: email}),
                    datatype: 'json'
                })
                .done(function (data) { $('#follower_btn_label').innerHTML = data })
                .fail(function (jqXHR, textStatus, errorThrown) { someErrorFunction(); });
            }
        </script>
    </body>
</html>