<html>
    <head>
        <title>
            Twitter - My Profile
        </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <div class="row">
                    <div class="col-md-1">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile
                    </div>
                    <div class="col-md-2 active">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <a> Timeline </a>
                    </div>
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-off"></span>
                        <a href="/login/bye/"> Logout </a>
                        {{ template_values.email }}
                    </div>
                </div>
            </div>

            <div class="well well-lg">
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="add_tweet_text" style="border-radius: 5%; min-width: 200px; min-height: 50px; height: 10%; width: 90%"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button onclick="add_tweet()" id="add_tweet_btn">
                            <span class="glyphicon glyphicon-plus"></span>
                            <label> Tweet</label>
                        </button>
                    </div>
                </div>
            </div>

            {% for tweet in template_values.timeline_tweets  %}
            <div class="row" id="tweets_box">
                <div class="col-md-2 tweet_row"></div>
                <div class="col-md-6 well well-sm tweet_row">{{ tweet.email }} &emsp;&emsp; {{ tweet.date_created }} <br/> {{ tweet.post }} </div>
            </div>
            {% endfor %}
            <hr/>

            Available Users
            {% for user in template_values.available_users  %}
            <div class="row" id="available_user_box">
                <div class="col-md-2 available_user_row"></div>
                <div class="col-md-4 available_user_row"> <a href="/profile/{{ user.id }}"> {{ user.id }} </a> </div>
            </div>
            {% endfor %}

        </div>

        <style type="text/css">
            .active{
                border-style: inset;
            }
        </style>

        <script type="text/javascript">
            var email = "{{ template_values.email }}";

            function add_tweet(){
                var tweet_text = $("#add_tweet_text");

                $.ajax({
                    url: '/timeline/add_tweet/' ,
                    type: 'POST',
                    data: JSON.stringify({tweet_text: tweet_text.val()}),
                    datatype: 'json'
                })
                .done(function (data) { someSuccessFunction(data); })
                .fail(function (jqXHR, textStatus, errorThrown) { someErrorFunction(); });

            }

            function get_followers(){
                var follower_box = $("#followers_box");
                var following_box = $("#following_box");
                var tweet_box = $("#tweets_box");

                tweet_box.hide();
                tweet_box.show();
                following_box.removeClass("hidden");
                following_box.addClass("hidden");
                follower_box.removeClass("hidden");

                $("#tweets_btn").removeClass("active");
                $("#following_btn").removeClass("active");
                $("#followers_btn").addClass("active");
            }

            function get_following(){
                var follower_box = $("#followers_box");
                var following_box = $("#following_box");
                var tweet_box = $("#tweets_box");

                follower_box.removeClass("hidden");
                follower_box.addClass("hidden");
                tweet_box.removeClass("hidden");
                tweet_box.addClass("hidden");
                following_box.removeClass("hidden");

                $("#followers_btn").removeClass("active");
                $("#tweets_btn").removeClass("active");
                $("#following_btn").addClass("active");
            }
        </script>
    </body>
</html>